# Different Ways of Creating Dataframe

*Using CSV*

In [1]:
import pandas as pd
df = pd.read_csv("A:\\Pandas File\\weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2023           32          6   Rain
1  01-02-2023           35          7  Sunny
2  01-03-2023           28          2   Snow

*Using excel*

In [2]:
df = pd.read_excel("A:\\Pandas File\\weather_data.xlsx")
df

         day  temperature  windspeed  event
0 2023-01-01           32          6   Rain
1 2023-01-02           35          7  Sunny
2 2023-01-03           28          2   Snow

*Using dictionary*

In [3]:
import pandas as pd
weather_data = {
    'day': ['1/1/2023', '1/2/2023', '1/3/2023'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2023           32          6   Rain
1  1/2/2023           35          7  Sunny
2  1/3/2023           28          2   Snow

*Using tuples list*

In [4]:
weather_data = [
    ('1/1/2023',32,6,'Rain'),
    ('1/2/2023',35,7,'Sunny'),
    ('1/3/2023',28,2,'Snow')
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2023           32          6   Rain
1  1/2/2023           35          7  Sunny
2  1/3/2023           28          2   Snow

*Using list of dictionaries*

In [5]:
weather_data = [
    {'day': '1/1/2023', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2023', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2023', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}
]
df = pd.DataFrame(data=weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  1/1/2023           32          6   Rain
1  1/2/2023           35          7  Sunny
2  1/3/2023           28          2   Snow